<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdminLTE 3 | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- Tempusdominus Bootstrap 4 -->
    <link
      rel="stylesheet"
      href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- iCheck -->
    <link
      rel="stylesheet"
      href="plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- JQVMap -->
    <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css?v=3.2.0" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />
    <!-- Daterange picker -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css" />
    <!-- summernote -->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.min.css" />
    <script data-cfasync="false" nonce="c768c475-1d6e-4ab7-9230-7ff56c84a290">
      try {
        (function (w, d) {
          !(function (cJ, cK, cL, cM) {
            if (cJ.zaraz) console.error("zaraz is loaded twice");
            else {
              cJ[cL] = cJ[cL] || {};
              cJ[cL].executed = [];
              cJ.zaraz = { deferred: [], listeners: [] };
              cJ.zaraz._v = "5815";
              cJ.zaraz._n = "c768c475-1d6e-4ab7-9230-7ff56c84a290";
              cJ.zaraz.q = [];
              cJ.zaraz._f = function (cN) {
                return async function () {
                  var cO = Array.prototype.slice.call(arguments);
                  cJ.zaraz.q.push({ m: cN, a: cO });
                };
              };
              for (const cP of ["track", "set", "debug"])
                cJ.zaraz[cP] = cJ.zaraz._f(cP);
              cJ.zaraz.init = () => {
                var cQ = cK.getElementsByTagName(cM)[0],
                  cR = cK.createElement(cM),
                  cS = cK.getElementsByTagName("title")[0];
                cS && (cJ[cL].t = cK.getElementsByTagName("title")[0].text);
                cJ[cL].x = Math.random();
                cJ[cL].w = cJ.screen.width;
                cJ[cL].h = cJ.screen.height;
                cJ[cL].j = cJ.innerHeight;
                cJ[cL].e = cJ.innerWidth;
                cJ[cL].l = cJ.location.href;
                cJ[cL].r = cK.referrer;
                cJ[cL].k = cJ.screen.colorDepth;
                cJ[cL].n = cK.characterSet;
                cJ[cL].o = new Date().getTimezoneOffset();
                if (cJ.dataLayer)
                  for (const cT of Object.entries(
                    Object.entries(dataLayer).reduce(
                      (cU, cV) => ({ ...cU[1], ...cV[1] }),
                      {}
                    )
                  ))
                    zaraz.set(cT[0], cT[1], { scope: "page" });
                cJ[cL].q = [];
                for (; cJ.zaraz.q.length; ) {
                  const cW = cJ.zaraz.q.shift();
                  cJ[cL].q.push(cW);
                }
                cR.defer = !0;
                for (const cX of [localStorage, sessionStorage])
                  Object.keys(cX || {})
                    .filter((cZ) => cZ.startsWith("_zaraz_"))
                    .forEach((cY) => {
                      try {
                        cJ[cL]["z_" + cY.slice(7)] = JSON.parse(cX.getItem(cY));
                      } catch {
                        cJ[cL]["z_" + cY.slice(7)] = cX.getItem(cY);
                      }
                    });
                cR.referrerPolicy = "origin";
                cR.src =
                  "/cdn-cgi/zaraz/s.js?z=" +
                  btoa(encodeURIComponent(JSON.stringify(cJ[cL])));
                cQ.parentNode.insertBefore(cR, cQ);
              };
              ["complete", "interactive"].includes(cK.readyState)
                ? zaraz.init()
                : cJ.addEventListener("DOMContentLoaded", zaraz.init);
            }
          })(w, d, "zarazData", "script");
          window.zaraz._p = async (bb) =>
            new Promise((bc) => {
              if (bb) {
                bb.e &&
                  bb.e.forEach((bd) => {
                    try {
                      const be = d.querySelector("script[nonce]"),
                        bf = be?.nonce || be?.getAttribute("nonce"),
                        bg = d.createElement("script");
                      bf && (bg.nonce = bf);
                      bg.innerHTML = bd;
                      bg.onload = () => {
                        d.head.removeChild(bg);
                      };
                      d.head.appendChild(bg);
                    } catch (bh) {
                      console.error(`Error executing script: ${bd}\n`, bh);
                    }
                  });
                Promise.allSettled(
                  (bb.f || []).map((bi) => fetch(bi[0], bi[1]))
                );
              }
              bc();
            });
          zaraz._p({ e: ["(function(w,d){})(window,document)"] });
        })(window, document);
      } catch (e) {
        throw (fetch("/cdn-cgi/zaraz/t"), e);
      }
    </script>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Preloader -->
      <!-- <div
        class="preloader flex-column justify-content-center align-items-center"
      >
        <img
          class="animation__shake"
          src="dist/img/AdminLTELogo.png"
          alt="AdminLTELogo"
          height="60"
          width="60"
        />
      </div> -->

      <!-- Navbar -->
      <%- include('../views/partials/header.ejs') %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('../views/partials/sidebar') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6"></div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <h3>150</h3>

                    <p>New Orders</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <a href="#" class="small-box-footer"
                    >More info <i class="fas fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>Bounce Rate</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="#" class="small-box-footer"
                    >More info <i class="fas fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3>44</h3>

                    <p>User Registrations</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                  <a href="#" class="small-box-footer"
                    >More info <i class="fas fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3>65</h3>

                    <p>Unique Visitors</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="#" class="small-box-footer"
                    >More info <i class="fas fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>
              <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
              <!-- Left col -->

              <!-- /.Left col -->
              <!-- right col (We are only adding the ID to make the widgets sortable)-->

              <!-- right col -->
            </div>
            <!-- /.row (main row) -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <%- include('../views/partials/footer') %>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge("uibutton", $.ui.button);
    </script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js?v=3.2.0"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboard.js"></script>
  </body>
</html>
